body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    margin: 0;
    text-align: center;
}

        #contenido {
            display: none;
            align-self: auto;  

        }

        h1 {
            font-size: 2.5rem;
        }

        #contador {
            font-size: 1.5rem;
            margin-top: 20px;
        }


        /*
        PARTE DE LA TORTA
        */

        .seccion {
    margin-bottom: 80px;
}

/* TORTA */
.torta {
    width: 200px;
    height: 120px;
    background: #ffb347;
    border-radius: 10px;
    position: relative;
    margin: 200px auto;
    margin-bottom: 10px;
}

/* VELA */
.vela {
    width: 10px;
    height: 40px;
    background: white;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

/* FUEGO */
.fuego {
    width: 15px;
    height: 15px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    animation: fuego 0.5s infinite alternate;
}

@keyframes fuego {
    from {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
    to {
        transform: translateX(-50%) scale(1.2);
        opacity: 0.7;
    }
}

/*Parte de los globos*/

.globos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 200px auto;
}

.globo {
    width: 60px;
    height: 80px;
    background: red;
    border-radius: 50% 50% 50% 50%;
    animation: flotar 3s ease-in-out infinite;
}

.globo:nth-child(2) {
    background: blue;
    animation-delay: 0.5s;
}

.globo:nth-child(3) {
    background: green;
    animation-delay: 1s;
}

@keyframes flotar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/*AGRADECIMIENTO*/
.agradecimiento {
    max-width: 400px;
    margin: auto;
    line-height: 1.6;
}

#bloqueado {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenido {
    display: none;
    padding: 60px 20px;
}